<div
  class="container-fluid d-flex justify-content-center align-items-center vh-100"
>
  <div class="col-md-6">
    <h2>Let's Get Started</h2>
    <p>Sign up your account</p>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
        />
      </div>
      <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input
          type="text"
          id="firstname"
          class="form-control"
          formControlName="firstname"
        />
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input
          type="text"
          id="lastname"
          class="form-control"
          formControlName="lastname"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          formControlName="confirmPassword"
        />
      </div>
      <button
        type="submit"
        [disabled]="!signupForm.valid"
        class="btn btn-primary"
      >
        Sign Up
      </button>
    </form>
  </div>
</div>
